spring:
  application:
    name: shortlink-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SHORTLINK_DB_URL:jdbc:postgresql://127.0.0.1:5433/shortlink}
    username: ${SHORTLINK_DB_USER:admin}
    password: ${SHORTLINK_DB_PASSWORD:admin}

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: none           # disable auto create/alter tables in dev, let flyway do it
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  data:
    redis:
      # Single Redis node (default dev)
      host: ${REDIS_HOST:127.0.0.1}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:123456}




shardingsphere:
  config-file: classpath:shardingsphere-config-dev.yaml
