apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: shortlink
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: redis-data
              mountPath: /data
          command: ["redis-server", "--appendonly", "yes"]
      volumes:
        - name: redis-data
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: shortlink
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis