apiVersion: batch/v1
kind: Job
metadata:
  name: flyway-shortlink
  namespace: shortlink
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 600   # 调试期保留 Pod
  template:
    spec:
      restartPolicy: OnFailure

      containers:
        - name: flyway
          image: nanachi1027/shortlink-flyway:latest

          command: ["java", "-cp", "/app/app.jar", "org.tus.shortlink.svc.flyway.FlywayStandalone"]